.button { 
    background-color: #ff0000;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    border-color: #755454;
    color: white; 
    font-size: larger;
    margin-right: 300px;
    margin-top: 20px;
}

.div1 {
    background-color: rgb(112, 68, 145);
    border: solid black;
    width: 380px;
    height: 550px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.h2 {
    color:rgb(255, 255, 255);
}



